<mat-sidenav-container class="content-container example-container" fxFill #scrollContainer [perfectScrollbar]>
    <mat-sidenav mode="side" [(opened)]="opened" fxLayout="column">
        <mat-toolbar class="mat-elevation-z2" color="primary" style="overflow:hidden"></mat-toolbar>
        <mat-list fxFlex>
            <mat-list-item style="margin:0px 24px 0px 0px" routerLink="/">
                <mat-icon mat-list-icon>person</mat-icon>
                <h4 mat-line>Actualités</h4>
                <p mat-line>12 non lues</p>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item style="margin:0px 24px 0px 0px" routerLink="/customer">
                <mat-icon mat-list-icon>person</mat-icon>
                <h4 mat-line>Clients</h4>
                <p mat-line>12 clients</p>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item style="margin:0px 24px 0px 0px">
                <mat-icon mat-list-icon>show_chart</mat-icon>
                <h4 mat-line>Objectifs</h4>
                <p mat-line>2 nouveaux</p>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item style="margin:0px 24px 0px 0px">
                <mat-icon mat-list-icon>access_alarm</mat-icon>
                <h4 mat-line>Recouvrement</h4>
                <p mat-line>2 nouveaux</p>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item style="margin:0px 24px 0px 0px">
                <mat-icon mat-list-icon>view_column</mat-icon>
                <h4 mat-line>Offres</h4>
                <p mat-line>2 actualités</p>
            </mat-list-item>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content fxLayout="column" fxFlex fxLayoutAlign="start stretch">
        <app-header (menuState)="onMenuButtonClick($event)"></app-header>
        <router-outlet (activate)="onActivate($event, scrollContainer)"></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
