<div class="container" fxLayout="column" fxFill>
    <mat-card align="left" *ngFor="let actuality of news">
        <mat-card-header>
            <div mat-card-avatar><mat-icon mat-list-icon>{{actuality.icon}}</mat-icon></div>
            <mat-card-title>{{actuality.title}}</mat-card-title>
            <mat-card-subtitle>{{actuality.subTitle}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>{{actuality.body}}</p>
            <div fxLayout="row">
                <mat-chip-list>
                    <mat-chip *ngFor="let tag of actuality.indices" [color]="tag.color">{{tag.name}}</mat-chip>
                </mat-chip-list>
                <span fxFlex> </span>
                <mat-chip-list>
                    <mat-chip *ngFor="let tag of actuality.tags" [color]="tag.color">{{tag.name}}</mat-chip>
                </mat-chip-list>
            </div>
        </mat-card-content>
    </mat-card>
</div>
